.reveal {
  font-size: 30px;
}
.reveal li,
.reveal p {
  font-size: 45px;
  line-height: 1.3;
}

.slide-background.present {
  background-size: contain;
}

.reveal .highlight {
  color: #e7ad52;
}

.reveal .octicon {
  font: normal normal 1em octicons;
}
